{% extends 'partials/base.html.twig' %}

{% block content %}

<h1>This is your default module.</h1>
<h2>Please replace it with a modular page or a container page in your admin area.</h2>

{% endblock %}