{% extends 'partials/base.html.twig' %}

{% block content %}

<h1>Welcome to Akazie Forest</h1>
<h2>This is a default template.</h2>
<h3>Please replace it with a modular page or a container page in your admin area.</h3>



{% endblock %}