{% extends 'partials/base.html.twig' %}

{% block content %}


<h1>{{ 'PLUGIN_ERROR.ERROR'|t }}</h1>
{{ header.http_response_code }}

<p>{{ page.content|raw }}</p>

{% if http_response_code(404) %}
  {{ redirect_me(home_url, 301) }}
{% endif %}

{% endblock %}

